<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="mockUserBean" class="edu.fullerton.cpsc.cpscRecipe.beans.UserBean">
		<property name="userName" value="regeAnish" />
		<property name="password" value="regeAnish123" />
		<property name="userFirstName" value="anish" />
		<property name="userLastName" value="rege" />
		<property name="userEmailID" value="regeanish@gmail.com" />
	</bean>
	
	
	
</beans>